/* Create consistent layout with boxes */

* 
{
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Georgia, Helvetica, sans-serif;
}

body 
{
  background-color: #000000;
}

h3
{
  text-align: center;
}

img {
  width: 100%;
  object-fit: cover;
  border: #A9A297 5px ridge;
}

.header
{
  text-align: center;
  background-color: #455904;
  border: #A9A297 5px ridge;
}

/* Create two equal columns with styling */

.twosplit {
  float: left;
  width: 50%;
  background-color: #455904;
  border: #A9A297 5px ridge;
  height: 200px;
  padding-right: 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .twosplit {
    width: 100%;
  }
}

/* Styling the main body of resume */

.main
{
  padding-left: 25px;
  background-color: #045958;
  float: left;
  width: 100%;
  border-style: ridge;
  border-color: #A9A297;
  border-width: 5px;
  padding-right: 25px;
}

/* Change the cursor and opacity when hovering over image */

#aqua {
  cursor: pointer;
  transition: 0.5s;
}

/* Make the image less opaque when hovering over it */

#aqua:hover {opacity: 0.5;}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255,255,255);
  background-color: rgba(0,0,0,0.75);
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 900px;
}

/* Caption Styling (text) */

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.75s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.4s;
}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
